.c-timeline {
    align-items: center;
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    margin-top: 56px;
    width: 100%;

    &__event {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        img {
            height: 100px;
        }
    }

    &__title {
        font-family: $font-andrea;
        font-size: px-rem(27px);
        font-weight: 400;
        letter-spacing: 0.54px;
        line-height: 1;
        margin-top: 50px;
        max-width: 304px;
        text-align: center;
    }

    &__subtitle {
        color: $cinza;
        font-family: $font-family;
        font-size: px-rem(20px);
        font-weight: 300;
        line-height: (25/20);
        max-width: 304px;
        text-align: center;
    }

    &__event & {
        &__year {
            align-items: center;
            color: $cinza;
            display: flex;
            font-family: $font-andrea;
            font-size: px-rem(30px);
            font-weight: 400;
            gap: 0 30px;
            height: px-rem(40px);
            justify-content: center;
            text-align: center;

            &::after,
            &::before {
                background: $azul-claro;
                content: '';
                height: px-rem(1px);
                width: px-rem(175px);
            }
        }
    }
}